*~
*.elc
.DS_Store

/bootstrap.el

/etc/init.d/
/etc/*.el

/lib/*.el

/opt/el-get/
/opt/elpa/

/tmp/

/var/auth-source/
/var/auto-complete/
/var/auto-save-list/
/var/auto-save/
/var/backup/
/var/bm/
/var/bookmark/
/var/ddskk/
/var/desktop/
/var/elmo/
/var/elpa/
/var/emacs-w3m/
/var/eshell/
/var/howm/
/var/junk/
/var/migemo/
/var/projectile/
/var/recentf/
/var/request/
/var/saveplace/
/var/server/
/var/temp/
/var/url/
/var/wanderlust/
