*~
*.elc
el-get/el-get/
.DS_Store

auto-complete/
auto-save/
auto-save-list/
backup/
bookmark/
elmo/
elpa/
emacs-w3m/
eshell/
howm/
junk/
migemo/
recentf/
server/
temp/
url/
wanderlust/

inits/*.el

/bookmarks
/my-macros.el
/my-functions.el
/my-exec-path-from-shell-path.el
/tramp
/ac-comphist.dat
